{% extends "base_site.html" %}
<!-- benötigt: spieltag, spielzeit -->
{% load i18n  %}

{% block breadcrumbs %}

    <li>
		<a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
    </li>
    <li>
		<a href="{% url BuLiTippApp.views.spielzeit spielzeit.id %}">{{ spielzeit.bezeichner }}</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Spieltag {{spieltag.id}}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
		{% for st in spielzeit.spieltag_set.all %}
            <li {%if st.id == spieltag.id%}class="active"{%endif%} >
                <a tabindex="-1" href="{% url BuLiTippApp.views.detail st.id %}">Spieltag {{st.nummer}}</a>
            </li>
		{% endfor %}
        </ul>
    </li>
    
{% endblock %}

{% block content %}

<h2>Der {{ spieltag.nummer }}. Spieltag dieser Saison "{{ spielzeit.bezeichner  }}"
<form class="form-inline hright" role="form">
    <div class="form-group">
        {% if no_navigation != "true" %}
            {% if spieltag.previous.id > 0 %}
	            <a href="{% url BuLiTippApp.views.detail spieltag.previous.id spieltag.spielzeit_id %}" class="btn btn-primary btn-sm active" role="button">
	            <span class="glyphicon glyphicon-arrow-left"></span> vorheriger 
	            </a>
            {% endif %}

            {% if spieltag.next.id > 0 %}
	            <a href="{% url BuLiTippApp.views.detail spieltag.next.id  spieltag.spielzeit_id %}" class="btn btn-primary btn-sm active" role="button">
	            nächster <span class="glyphicon glyphicon-arrow-right"></span>
	            </a>
            {% endif %}
        {% endif %}
    </div>
</form >
</h2>
<div>
    <div style="float:left">
        {% include "spieltag/inline.html" %}
    </div>
    {% if not spieltag.is_tippable %}
	    {% with userpunkteplatz=spieltag.userpunkteplatz %}
		    <div style="float:right">
		    {% include "bestenliste/inline_nav.html" %}
		    </div>
	    {% endwith %}
    {% endif %}
    <div style="clear:both"></div>
</div>
{% with kommentare=spieltag.kommentar_set.all spieltag=spieltag %}
	{% include "kommentar/detail.html" %}
{% endwith %}


{% endblock %}
