<!-- benötigt: spieltag, spielzeit  -->

<script type="text/javascript">
function switch_hidden() {
	document.getElementById("best_spielzeit").hidden=!document.getElementById("best_spielzeit").hidden;
	document.getElementById("best_spieltag").hidden=!document.getElementById("best_spieltag").hidden;
}
</script>

{% if spieltag %}
	{% with userpunkteplatz=spieltag.userpunkteplatz %}
		<div id="best_spieltag" class="panel panel-default">
            <div class=""panel-heading">
    			<b>Wertung für </b>
			    {% if spielzeit %}
				    <a href="#" onclick='switch_hidden()' class="btn btn-primary active ">Spielzeit</a>
                    <a href="#" onclick='switch_hidden()' class="btn btn-primary ">Spieltag</a>
			    {% endif %}
            </div>
            <div class="panel-body">
    		    {% include "bestenliste/inline.html" %}
            </div>
		</div>
	{% endwith %}
{% endif %}
{% with userpunkteplatz=spielzeit.userpunkteplatz %}
	<div class="panel panel-default" id="best_spielzeit" {% if spieltag %}hidden{% endif %}>
        <div class=""panel-heading">
            <b>Diese Spielzeit:</b>
            <a href="#" onclick='switch_hidden()' class="btn btn-primary ">Spieltag</a>
        </div>
        <div class="panel-body">
		    {% include "bestenliste/inline.html" %}
        </div>
	</div>
{% endwith %}