/* WAM */
div#egmWam {
	width: 300px;
	height: 357px;
	overflow: hidden;
	border-left: thin solid #cccccc;
	border-right: thin solid #cccccc;
	border-bottom: thin solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 4px;
}

div.egmWamHL {
	width: 302px;
	border: none;
	background-color: #333;
	margin-bottom: 6px;
}

div#egmWam form {
	padding-top: 5px;
}

div#egmWamAuswahlSubmit button {
	background-image: url(../images/gradients/gruen-verlauf22_1.png);
	background-repeat: repeat-x;
	color: white;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	margin-right: 31px;
	float: right;
	cursor: pointer;
}

div#egmWamAuswahlSubmit input {
	vertical-align: text-top;
	margin-right: 3px !important;
}

div#egmWamAuswahlSubmit label {
	color: #444444 !important;
	float: left;
	margin-left: 33px;
}

div#egmWamAuswahlSubmit {
	margin-top: 5px;
}

div.egmWamHL h2 { /* color: #99cc33; */
	display: block;
	background: url(../images/wam/HLH2Bg.png) no-repeat;
	width: 262px;
	height: 19px;
	padding: 6px 0 0 37px;
	font-size: 12px ! important;
	color: #fff;
	font-weight: bold ! important;
	margin: 0;
}

div.egmWamAuswahl {
	width: 302px;
	color: #1c1c1c;
	display: block;
	padding: 0;
	/*	height: 35px;*/
	border: none;
}

div.egmWamAuswahl select { /* background-image only working in FF */
	/* 	background-image: */
	/* 		url("../images/gradients/grau-verlauf-25-alternativ2.png"); */
	/* 	background-repeat: repeat-x; */
	background-color: white;
	border: thin solid #CCCCCC;
	color: #444444;
	font-family: arial, helvetica, freesans, sans-serif;
	font-size: 12px;
	height: 21px;
	margin: 3px 0 5px 3px;
	text-align: left;
	vertical-align: middle;
	width: 241px;
}

div.egmWamAuswahl option {
	font-family: arial, helvetica, freesans, sans-serif;
	font-size: 13px;
	/* use #f9f9f9 in FF */
	/* 	background-color: #f9f9f9; */
	background-color: white;
}

div.egmWamAuswahl img {
	margin: 7px 0 0 34px;
	cursor: pointer;
}

div.egmWamAdSpacerBottom {
	margin-top: 10px;
	position: relative;
}

div.egmWamAdSpacerBottom a.egmAdLink {
	position: absolute;
	left: 34px;
	top: 30px;
	color: #ff7300;
	text-decoration: none;
	font-weight: bold;
}

/* kleiner IE6-hack, weil der das child-select mit html>body nicht kann */
div.egmWamAuswahl span {
	display: block;
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
	padding-top: 5px;
	width: 15px;
	color: #cccccc;
}

html>body div.egmWamAuswahl span {
	display: block;
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-left: 13px;
	padding-top: 5px;
	width: 15px;
	color: #cccccc;
}

div.egmWamAuswahl div {
	float: left;
	width: 220px;
}

/* kleiner IE6-hack, weil der das child-select mit html>body nicht kann */
div.egmWamAuswahl span.egmWamAuswahl {
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	background-color: white;
	color: white;
	width: 234px;
	border: thin solid #cccccc;
	margin: 3px 0 5px 3px;
	padding: 3 0 3 4px;
}

html>body div.egmWamAuswahl span.egmWamAuswahl {
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	background-color: white;
	color: white;
	width: 234px;
	border: thin solid #cccccc;
	margin: 3px 0 5px 3px;
	padding: 3 0 3 4px;
}