.SDCP_ergboxsprite23 {background-image: url(../../images/sprites/ergboxsprite23.png?t=1385233917);}
.SDCP_ergboxsprite23-1450 { width:19px; height:19px; background-position: 0px 0px; }
.SDCP_ergboxsprite23-954 { width:19px; height:19px; background-position: -19px 0px; }
.SDCP_ergboxsprite23-449 { width:19px; height:19px; background-position: -38px 0px; }
.SDCP_ergboxsprite23-175 { width:19px; height:19px; background-position: -57px 0px; }
.SDCP_ergboxsprite23-174 { width:19px; height:19px; background-position: -76px 0px; }
.SDCP_ergboxsprite23-855 { width:19px; height:19px; background-position: -95px 0px; }
.SDCP_ergboxsprite23-5683 { width:19px; height:19px; background-position: -114px 0px; }
.SDCP_ergboxsprite23-182 { width:19px; height:19px; background-position: -133px 0px; }
.SDCP_ergboxsprite23-185 { width:19px; height:19px; background-position: -152px 0px; }
.SDCP_ergboxsprite23-178 { width:19px; height:19px; background-position: -171px 0px; }
.SDCP_ergboxsprite23-177 { width:19px; height:19px; background-position: -190px 0px; }
.SDCP_ergboxsprite23-179 { width:19px; height:19px; background-position: -209px 0px; }
.SDCP_ergboxsprite23-176 { width:19px; height:19px; background-position: -228px 0px; }
.SDCP_ergboxsprite23-184 { width:19px; height:19px; background-position: -247px 0px; }
.SDCP_ergboxsprite23-186 { width:19px; height:19px; background-position: -266px 0px; }
.SDCP_ergboxsprite23-188 { width:19px; height:19px; background-position: -285px 0px; }
.SDCP_ergboxsprite23-450 { width:19px; height:19px; background-position: -304px 0px; }
.SDCP_ergboxsprite23-1564 { width:19px; height:19px; background-position: -323px 0px; }
.SDCP_ergboxsprite23-191 { width:19px; height:19px; background-position: -342px 0px; }
.SDCP_ergboxsprite23-192 { width:19px; height:19px; background-position: -361px 0px; }
