.SDCP_ergboxsprite0 {background-image: url(../../images/sprites/ergboxsprite0.png?t=1385233864);}
.SDCP_ergboxsprite0-11 { width:19px; height:19px; background-position: 0px 0px; }
.SDCP_ergboxsprite0-14 { width:19px; height:19px; background-position: -19px 0px; }
.SDCP_ergboxsprite0-54 { width:19px; height:19px; background-position: -38px 0px; }
.SDCP_ergboxsprite0-80 { width:19px; height:19px; background-position: -57px 0px; }
.SDCP_ergboxsprite0-88 { width:19px; height:19px; background-position: -76px 0px; }
.SDCP_ergboxsprite0-31 { width:19px; height:19px; background-position: -95px 0px; }
.SDCP_ergboxsprite0-4 { width:19px; height:19px; background-position: -114px 0px; }
.SDCP_ergboxsprite0-45 { width:19px; height:19px; background-position: -133px 0px; }
.SDCP_ergboxsprite0-110 { width:19px; height:19px; background-position: -152px 0px; }
.SDCP_ergboxsprite0-56 { width:19px; height:19px; background-position: -171px 0px; }
.SDCP_ergboxsprite0-21 { width:19px; height:19px; background-position: -190px 0px; }
.SDCP_ergboxsprite0-8 { width:19px; height:19px; background-position: -209px 0px; }
.SDCP_ergboxsprite0-3 { width:19px; height:19px; background-position: -228px 0px; }
.SDCP_ergboxsprite0-20 { width:19px; height:19px; background-position: -247px 0px; }
.SDCP_ergboxsprite0-120 { width:19px; height:19px; background-position: -266px 0px; }
.SDCP_ergboxsprite0-990 { width:19px; height:19px; background-position: -285px 0px; }
.SDCP_ergboxsprite0-459 { width:19px; height:19px; background-position: -304px 0px; }
.SDCP_ergboxsprite0-131 { width:19px; height:19px; background-position: -323px 0px; }
.SDCP_ergboxsprite0-126 { width:19px; height:19px; background-position: -342px 0px; }
.SDCP_ergboxsprite0-988 { width:19px; height:19px; background-position: -361px 0px; }
.SDCP_ergboxsprite0-157 { width:19px; height:19px; background-position: -380px 0px; }
.SDCP_ergboxsprite0-156 { width:19px; height:19px; background-position: -399px 0px; }
.SDCP_ergboxsprite0-684 { width:19px; height:19px; background-position: -418px 0px; }
.SDCP_ergboxsprite0-172 { width:19px; height:19px; background-position: -437px 0px; }
.SDCP_ergboxsprite0-1772 { width:19px; height:19px; background-position: -456px 0px; }
.SDCP_ergboxsprite0-1902 { width:19px; height:19px; background-position: -475px 0px; }
.SDCP_ergboxsprite0-1740 { width:19px; height:19px; background-position: -494px 0px; }
.SDCP_ergboxsprite0-160 { width:19px; height:19px; background-position: -513px 0px; }
.SDCP_ergboxsprite0-159 { width:19px; height:19px; background-position: -532px 0px; }
.SDCP_ergboxsprite0-167 { width:19px; height:19px; background-position: -551px 0px; }
.SDCP_ergboxsprite0-162 { width:19px; height:19px; background-position: -570px 0px; }
.SDCP_ergboxsprite0-164 { width:19px; height:19px; background-position: -589px 0px; }
.SDCP_ergboxsprite0-175 { width:19px; height:19px; background-position: -608px 0px; }
.SDCP_ergboxsprite0-1450 { width:19px; height:19px; background-position: -627px 0px; }
.SDCP_ergboxsprite0-178 { width:19px; height:19px; background-position: -646px 0px; }
.SDCP_ergboxsprite0-5683 { width:19px; height:19px; background-position: -665px 0px; }
.SDCP_ergboxsprite0-188 { width:19px; height:19px; background-position: -684px 0px; }
.SDCP_ergboxsprite0-176 { width:19px; height:19px; background-position: -703px 0px; }
.SDCP_ergboxsprite0-1564 { width:19px; height:19px; background-position: -722px 0px; }
.SDCP_ergboxsprite0-186 { width:19px; height:19px; background-position: -741px 0px; }
.SDCP_ergboxsprite0-163 { width:19px; height:19px; background-position: -760px 0px; }
.SDCP_ergboxsprite0-816 { width:19px; height:19px; background-position: -779px 0px; }
.SDCP_ergboxsprite0-387 { width:19px; height:19px; background-position: -798px 0px; }
.SDCP_ergboxsprite0-2743 { width:19px; height:19px; background-position: -817px 0px; }
.SDCP_ergboxsprite0-886 { width:19px; height:19px; background-position: -836px 0px; }
.SDCP_ergboxsprite0-2143 { width:19px; height:19px; background-position: -855px 0px; }
.SDCP_ergboxsprite0-208 { width:19px; height:19px; background-position: -874px 0px; }
.SDCP_ergboxsprite0-2137 { width:19px; height:19px; background-position: -893px 0px; }
.SDCP_ergboxsprite0-2136 { width:19px; height:19px; background-position: -912px 0px; }
.SDCP_ergboxsprite0-2006 { width:19px; height:19px; background-position: -931px 0px; }
.SDCP_ergboxsprite0-751 { width:19px; height:19px; background-position: -950px 0px; }
.SDCP_ergboxsprite0-2015 { width:19px; height:19px; background-position: -969px 0px; }
.SDCP_ergboxsprite0-1755 { width:19px; height:19px; background-position: -988px 0px; }
.SDCP_ergboxsprite0-170 { width:19px; height:19px; background-position: -1007px 0px; }
.SDCP_ergboxsprite0-2795 { width:19px; height:19px; background-position: -1026px 0px; }
.SDCP_ergboxsprite0-2891 { width:19px; height:19px; background-position: -1045px 0px; }
.SDCP_ergboxsprite0-4071 { width:19px; height:19px; background-position: -1064px 0px; }
.SDCP_ergboxsprite0-1780 { width:19px; height:19px; background-position: -1083px 0px; }
.SDCP_ergboxsprite0-2881 { width:19px; height:19px; background-position: -1102px 0px; }
.SDCP_ergboxsprite0-1453 { width:19px; height:19px; background-position: -1121px 0px; }
.SDCP_ergboxsprite0-2111 { width:19px; height:19px; background-position: -1140px 0px; }
.SDCP_ergboxsprite0-3512 { width:19px; height:19px; background-position: -1159px 0px; }
.SDCP_ergboxsprite0-6339 { width:19px; height:19px; background-position: -1178px 0px; }
.SDCP_ergboxsprite0-166 { width:19px; height:19px; background-position: -1197px 0px; }
.SDCP_ergboxsprite0-1742 { width:19px; height:19px; background-position: -1216px 0px; }
.SDCP_ergboxsprite0-807 { width:19px; height:19px; background-position: -1235px 0px; }
.SDCP_ergboxsprite0-1760 { width:19px; height:19px; background-position: -1254px 0px; }
.SDCP_ergboxsprite0-852 { width:19px; height:19px; background-position: -1273px 0px; }
