.Tlbvideo h1{width:730px}
.Tlbvideo h1{font-size:15px;margin:15px 15px 10px;border-bottom:1px solid #dcdcdc;height:35px;color:#4b4b4b;font-weight:bold}
.Tlbvideo .Ttsbv{background:0}
.Tlbvideo .Tlbvipr{width:501px}
.Tlbvideo .Tlbfkt{width:723px}
.Tlbvideo #im_if_video_cad{margin-left:15px}