<!-- benoetigt: spieltag_id oder reply_to -->
<form action="{% url BuLiTippApp.views.post_kommentar %}" method="post" role="form">
	{% csrf_token  %}
  <div class="form-group">
	<input type="hidden" name="spieltag_id" value="{{spieltag_id}}" />
	<input type="hidden" name="reply_to" value="{{reply_to}}" />
	<label for="text">Kommentar</label>
    <textarea name="text" cols="50" rows="5" class="form-control" placeholder="Dein Kommentar ..."></textarea><br>
  </div>
	<input type="submit" value="Kommentar Abschicken!" class="btn btn-default" />
</form>
