{% extends "base_site.html" %}
<!-- benötigt: spieltag, spielzeit -->
{% load i18n  %}

{% block breadcrumbs %}
    
    <div class="breadcrumbs">
    	<div style="float:left">
		    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
		    {% if title %} &rsaquo; {{ title }}{% endif %}
		    
		    -&rsaquo;
		    <a href="{% url BuLiTippApp.views.index spielzeit.id %}">{{ spielzeit.bezeichner }}</a>
		    -&rsaquo;
		
			<select name="spieltag" size="1" onchange="this.options[this.selectedIndex].value 
		        	&& (window.location = this.options[this.selectedIndex].value);">
				{% for st in spielzeit.spieltag_set.all %}
		        		<option {%if st.id == spieltag.id%}selected{%endif%} value="{% url BuLiTippApp.views.detail st.id %}">{{st.nummer}}</option>
				{% endfor %}
			</select>
	    </div>
    	<div style="float:right;">
    		{% include "navigation.html" %}
    	</div>
    	<div style="clear:both"></div>
    </div>

    
{% endblock %}

{% block content %}


<h2>Saison "{{ spielzeit.bezeichner  }}"</h2>

    <div class="col-md-8">
        <table class="table table-bordered" >
        <tr>
            <th>Platz</th>
            <th>Platz</th>
            <th>Platz</th>
            <th>Spieler</th>
            <th>Punkte</th>
        </tr>
{% for spiel in spiele %}
        <tr >
            <td>
                <b>{{spiel.heimmannschaft.name}}</b>
            </td>
            <td>
                <b>{{spiel.auswaertsmannschaft}}</b>
            </td>


            <td>
                {{spiel.spieltag.datum}}
            </td>
            <td >         
                {{spiel.datum}}
            </td>
            <td>
                {{spiel.ergebniss}}
            </td>
        </tr>
{% endfor %}
        </table>
    </div>

{% endblock %}
