{% extends "base_site.html" %}
<!-- benötigt: spieltag, spielzeit -->
{% load i18n  %}

{% block breadcrumbs %}
    
    {% if title %} &rsaquo; {{ title }}{% endif %}
	<li>    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a></li>
	<li class="active">{% trans 'Spielzeit' %} </li>
   
{% endblock %}

{% block content %}


<h2>Saison "{{ spielzeit.bezeichner  }}"</h2>
    <div class="col-md-8">
        <table class="table table-bordered" >
        <tr>
            <th>Verein</th>
        </tr>
{% for verein in vereine %}
        <tr >
            <td>
                <A HREF="{% url BuLiTippApp.views.verein verein.id %}"><IMG SRC="{{ STATIC_URL }}{{verein.abk}}.png" ALT="?" BORDER=0>{{verein.name}}</A>
                
            </td>

        </tr>
{% endfor %}
        </table>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered" >
        <tr>
            <th>Platz</th>
            <th>Platz</th>
            <th>Platz</th>
            <th>Spieler</th>
            <th>Punkte</th>
        </tr>
{% for spiel in spiele %}
        <tr >
            <td>
                <b>{{spiel.heimmannschaft.name}}</b>
            </td>
            <td>
                <b>{{spiel.auswaertsmannschaft}}</b>
            </td>
            <td>
                {{spiel.spieltag.datum|date:"d M Y" }}
            </td>
            <td >         
                {{spiel.datum|date:"d M Y" }}
            </td>
            <td>
                {{spiel.ergebniss}}
            </td>
        </tr>
{% endfor %}
        </table>
    </div>

{% endblock %}
