/*
	$Revision: 1.7 $Date: 2013/02/27 13:44:23 $
	SevenOne Media Ad Integration for www.bundesliga.de
*/

.ad-wrapper div,
.ad-wrapper object,
.ad-wrapper embed,
.ad-wrapper img,
.ad-wrapper iframe,
.ad-wrapper ins {
	vertical-align: bottom;
}
#ads-outer.ad-manager {
	position: relative;
	width: 972px; /* must be identical with www.bundesliga.de */
	z-index: 2000;
	margin: 0px 0px -6px 19px;
	padding-top: 0px;
}
#ad-fullbanner2-outer {
	position: relative;
	z-index: 1530;
	width: 972px;
	margin: 0px 9px;
}
#ad-fullbanner2 {
	min-height: 90px;
	margin: 0px 0px 0px auto;
	padding: 6px 0px 4px 0px;
}
#ad-fullbanner2-outer.ad-liveticker {
	position: absolute;
	width: 728px;
	z-index: 1;
	margin: 0px;
	right: 0px;
}
.ad-liveticker #ad-fullbanner2 {
	position: absolute;
	right: 0px;
	top: 6px;
	width: 728px;
	height: 90px;
	margin: 0px;
	padding: 0px;
}
#ad-fullbanner2-billboard-outer {
	position: relative;
	width: 948px;
	z-index: 150;
}
#ad-fullbanner2-billboard {
	margin: 0px auto 10px auto;
}
#ad-skyscraper1-outer {
	position: absolute;
	z-index: 1520;
	left: 990px;
	width: 160px;
	margin-top: 4px;
}
#ad-skyscraper1 {
	width: 160px;
}
#ad-rectangle1-outer {
	position: relative;
	z-index: 1510;
	width: 308px;
	margin: 0px auto;
	padding-bottom: 12px;
	float: left;
}
#ad-rectangle1 {
}
#ad-promo1-outer {
	width: 148px;
}
#ad-promo1 {
	margin-bottom: 12px;
}
#ad-ateaser-outer {
	width: 300px;
}
#ad-ateaser {
}
#ad-performance1-outer {
	position: relative;
	z-index: 200;
	width: 948px;
}
#ad-performance1 {
	padding-bottom: 12px;
}
#ad-performance1-spacer-left,
#ad-performance1-spacer-right {
	height: 95px;
	padding-bottom: 12px;
	float: left;
	display: none;
}
#ad-performance1-spacer-left {
	width: 628px;
}
#ad-performance1-spacer-right {
	width: 308px;
}
#ad-performance2-outer {
	position: relative;
	width: 948px;
	clear: both;
}
#ad-performance2 {
	padding-top: 12px;
}
#ad-performance3-outer {
	position: relative;
}
#ad-performance4-outer {
	position: relative;
}
