{% extends "base_site.html" %}

<!-- benötigte Variablen: spielzeiten, spieltipp_previous, spieltipp_next -->
{% load i18n  %}
{% block breadcrumbs %}

    <div class="breadcrumbs">
    	<div style="float:left">
		    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
		    {% if title %} &rsaquo; {{ title }}{% endif %}
		    {% if aktuelle_spielzeit.id %}
			    -&rsaquo;
			    <a href="{% url BuLiTippApp.views.index aktuelle_spielzeit.id %}">{{ aktuelle_spielzeit.bezeichner }}</a>
		    {% endif %}
	    </div>
    	<div style="float:right;">
    		{% include "navigation.html" %}
    	</div>
    	<div style="clear:both"></div>
    </div>

{% endblock %}

{% block content %}
<div class="panel-group panel-info" id="accordion">
    <div class="panel-heading">Neueste Mitteilungen
        <a href="{% url BuLiTippApp.views.news %}" class="hright">alle Mitteilungen</a>
    </div>
    <div class="panel panel-default">
{% for news_ in news %}
        <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{news_.id}}">
                <strong>{{ news_.author.username }}</strong> schrieb am {{news_.datum}}
            </a>
        </div>
        <div id="collapse{{news_.id}}" class="panel-collapse collapse ">
            <div class="panel-body">
                {{news_.text|safe}}
            </div>
        </div>
{% endfor %}
    </div>
</div>

<!-- Wenn mehrere Saisons vorhanden -> Saison auswählen -->
{% if user.is_authenticated %}
    {% if spielzeiten|length > 1 %}
	    <h2>Bitte Spielzeit auswählen({{spielzeiten|length}}):</h2>
		    <ul>
		    {% for spielzeit in spielzeiten %}
			    <li><a href="{% url BuLiTippApp.views.index spielzeit.id %}">{{spielzeit.bezeichner}} auswählen</a></li>
		    {% endfor %}
		    </ul>
    {% endif %}
{% endif %}

{% if spielzeiten|length == 0 %}
	{% if spieltipp_previous %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li><a href="#last" data-toggle="tab">Tabelle</a></li>
          <li><a href="#next" data-toggle="tab">Tippen</a></li>
          <li><a href="#season" data-toggle="tab">Saisonverlauf</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content pull-left">
            <div class="tab-pane" id="last">
		        {% with spieltag=spieltipp_previous.0.0.spieltag _no_navigation_="true" spieltipp=spieltipp_previous kommentare=spieltipp_previous.0.0.spieltag.kommentar_set.all %}
                <div class="panel panel-default">
	                <div class="panel-heading">Hier die Übersicht des {{spieltag.nummer}}. Spieltages!</div>
                    <div class="panel-body">
    			        {% include "spieltag/inline.html" %}
                    </div>
                </div>
	        </div>
            <div class="tab-pane" id="next">
	        {% if spieltipp_next %}
                <div class="panel panel-default">
                    <div class="panel-heading">Hier der nächste Spieltag!</div>
                    <div class="panel-body">
		            {% with spieltag=spieltipp_next.0.0.spieltag no_navigation="true" spieltipp=spieltipp_next  %}
		                Tippen noch möglich bis zum <strong>{{spieltag.datum}}</strong>!
		                {% include "spieltag/inline.html" %}
                        <p>
		                {% with kommentare=spieltag.kommentar_set.all %}
			                {% include "kommentar/detail.html" %}
		                {% endwith %}
                        </p>
		            {% endwith %}
                    </div>
                </div>
	        {% endif %}
            </div>
            <div class="tab-pane" id="season">
	        {% if not spieltag.is_tippable %}
		        {% with userpunkteplatz=aktuelle_spielzeit.userpunkteplatz spielzeit=aktuelle_spielzeit %}
			        <div class="panel panel-default" >
                        <div class="panel-heading">Saisonverlauf</div>
                        <div class="panel-body">
	    			        {% include "bestenliste/inline_nav.html" %}<!-- maybe _switchable ? -->
                        </div>
			        </div>
		        {% endwith %}
	        {% endif %}
            </div>
            <div class="clearfix">
		        {% include "kommentar/detail.html" %}
            </div>
        </div>

		{% endwith %}

	{% endif %}

{% endif %}

{% endblock %}
