{% extends "base_site.html" %}
{% load i18n  %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    	<div style="float:left">
		    <a href="{% url BuLiTippApp.views.index %}">{% trans 'Home' %}</a>
		    {% if title %} &rsaquo; {{ title }}{% endif %}
		    
			-&rsaquo;
			<a href="{% url BuLiTippApp.views.news %}">Mitteilungen</a>
		    
	    </div>
    	<div style="float:right;">
    		{% include "navigation.html" %}
    	</div>
    	<div style="clear:both"></div>
    </div>
{% endblock %}

{% block content %}
<h1>About</h1>
{% endblock %}
